@font-face {
  font-family: TradeGothicBoldCondensed;
  src: url(./fonts/Trade\ Gothic\ Bold\ Condensed\ No.\ 20.otf) format('opentype');
}

.Footer {
  /* width: 100vw; */
  height: 347px;
  background-color: rgb(17, 17, 17);
  color: white;
  padding: 40px 19.6vw 10px 19.6vw;
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
}

#footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid red; */
}

#footer-top-left {
  display: flex;
  flex-direction: row;
  gap: 4vw;
}

#footer-top-right {
  /* border: 1px red solid; */
  height: fit-content;
  display: flex;
  gap: 15px;
  padding-right: 10px;
}

.socialSVGs {
  /* border: 1px solid red; */
  cursor: pointer;
  opacity: 0.5;
}
.socialSVGs:hover {
}

.accordion-body {
  /* margin: 0px; */
  /* padding: 5px; */
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 170px;
  height: 230px;
  /* padding-top: 10px; */
  gap: 20px;
  /* justify-content: space-between; */
  /* border: 1px solid red; */
}

#get-help-section {
  height: auto;
  gap: 15.3px;
}
#about-nike-section {
  height: auto;
  gap: 15.3px;
}

.link-bold {
  font-family: TradeGothicBoldCondensed, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
  margin: 0px;
  width: fit-content;
  /* border: 1px solid green; */
}

.link-gray {
  color: gray;
  font-size: 12px;
  width: fit-content;
  margin: 0px;
  cursor: pointer;
  /* border: 1px solid red; */
  padding: 0px;
}
.link-gray:hover {
  color: white;
}

#footer-bottom {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  /* gap: 10vw; */
  height: 120px;
  /* border: 1px solid red; */
}

#loc-copy {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  margin: 80px 0px 0px 10px;
  gap: 18px;
  /* position: absolute; */
  /* bottom: -420px; */
  /* left: 50px; */
  /* border: 1px solid red; */
}

#location {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
}

#locator-svg {
  scale: 1.05 1.05 1;
  /* position: relative; */
  cursor: pointer;
  /* border: #7e7e7e solid 1px; */
}

#curr-country {
  margin: 3px 8px;
  font-size: 12.5px;
  cursor: pointer;
  /* border: #7e7e7e solid 1px; */
}

#copyright-disc {
  margin: 0px;
  padding: 0px;
  color: #7e7e7e;
  font-size: 12px;
}

#footer-bottom-right {
  display: flex;
  gap: 25px;
  flex-direction: column;
  margin-top: 45px;
  margin-right: 10px;
}

#f-bottom-right-top {
  display: flex;
  gap: 33.4px;
  margin-left: auto;
}

#f-bottom-right-bottom {
  /* padding-left: 26.1vw; */
  margin-left: auto;
}

.guide-menu {
  position: relative;
  background-color: rgb(17, 17, 17);
  /* right: 35vw; */

  bottom: 150px;
  /* height: 100px; */
  flex-direction: row;
  /* width: 100px; */
  border: 2px solid white;
  z-index: 50;
  margin-bottom: -39.2%;
  /* left: 0px; */
  /* gap: 130px; */
  /* right: 80px; */
  /* padding: 30px; */
  width: 133%;
  right: 160px;
}

.guide-list {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  width: 100%;
}
