.freeSRMain {
    margin-top: 50px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    height: 80px;
    background-color: #ffffff;
    font-size: 21px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: black;
}

.dropdown {
    margin-top: -20px;
    padding-bottom: 40px;
}
.linkOneLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}