.Headerline2Container {
  height: 60px;
  width: 100%;
}
.HeaderLine2 {
  padding: 0 38px 0 36px;
  height: 100%;
  background: #ffffff;
  max-width: 1920px;
  max-height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-pack: justify;
  flex-wrap: nowrap;
  flex-direction: row;
  vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif;
  }
  .nikeLogoContainer {
    display: block;
    margin-left: 12px;
    height: 59px;
    width: 59px;
  }
  .nikeLogo {
    transform: scale(1.33);
    height: 100%;
    width: 100%;
  }
  .headermenu2 {
    display: flex;
    margin-left: 13%;
  }
  .menuitem2 {
    white-space: nowrap;
    padding-left: 25px;
  }
  .searchMenu {
    display: flex;
    border-radius: 20px;
    background: #f5f5f5;

  }
  .searchBar {
    border: none;
    border-radius: 20px;
    height: 38px;
    width: 124px;
    max-width: 124px;
    max-height: 38px;
    padding-left: 48px;
    padding-right: 8px;
    margin-top: -.40%;
    background: #f5f5f5;
    font-size: 16px;
    z-index: 1;
  }

  .searchIcon {
    position: absolute;
    border-radius: 20px;
    padding: 6px 6px 6px 6px;
    z-index: 2;
    background: #f5f5f5;
  }
  .twoIcons {
    display: flex;
    justify-content: space-between;
    width: 300px;
    gap: 5%
  }
  .heart {
    background: #ffffff;
    border-radius: 20px;
    padding: 6px 6px 6px 6px;
  }
  .cart {
    background: #ffffff;
    border-radius: 20px;
    padding: 6px 6px 6px 6px;
  }