.HeaderLine1 {
  height: 36px;
  width: 100vw;
  background: #f5f5f5;
  padding: 0 38px 0 36px;
  /* max-width: 1920px; */
  max-height: 60px;
  display: flex;
  /* border: 1px solid red; */
  margin: 0px;
}

.brand-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 48px;
  transform: rotateY(180deg);
}

.HeaderLine2 {
  height: 56px;
  padding-top: 4px;
  width: 100vw;
  background: #ffffff;
  /* border: 1px solid red; */
}

.nike-logo {
  transform: scale(1.33);
  /* rotateX(180deg) rotateY(180deg); */
  height: 100%;
  width: 15vw;
}

.HeaderLine3 {
  box-shadow: rgb(229, 229, 229) 0px -1px 0px 0px inset;
  background: rgb(247, 247, 247);
  min-height: 60px;
  /* overflow: hidden; */
  /* position: relative; */
}
