.HeaderLine1 {
  padding: 0 38px 0 36px;
  height: 36px;
  background: #f5f5f5;
  max-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  margin: 0px;
  gap: 78%;
}

.brand-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 48px;
  /* transform: rotateY(180deg); */
}



.nike-logo {
  transform: scale(1.33);
  /* rotateX(180deg) rotateY(180deg); */
  height: 100%;
  width: 15vw;
}


.branditems {
  display: flex;
}
.menuoption {
  display: flex;
}

.headermenu1 {
  display: flex;
  white-space: nowrap;
  font-size: 13px;
}

#spacer {
  display: flex;
  font-size: 11px;
  margin-top: 1.5%;
  padding-left: 10px;
  padding-right: 10px;
}