.Headerline2Container {
  height: 60px;
  width: 100%;
}
.HeaderLine2 {
  padding: 0 38px 0 36px;
  height: 100%;
  background: #ffffff;
  max-width: 1920px;
  max-height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-pack: justify;
  flex-wrap: nowrap;
  flex-direction: row;
  vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif;
  }
  .nikeLogoContainer {
    display: block;
    margin-left: 12px;
    height: 59px;
    width: 59px;
  }
  .nikeLogoContainer:hover {
    filter: opacity(.5);
  }
  .nikeLogo {
    transform: scale(1.33);
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  .headermenu2 {
    display: flex;
    margin-left: 13%;
    height: 60px;
    line-height: 3.5; 
    padding-left: 4%;
  }
  .menuitem2 {
    width: auto;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    cursor: pointer;
  }
  .menuitem2:hover{
    border-bottom: 2px solid black;
  }
  .searchMenu {
    display: flex;
    border-radius: 20px;
    background: #f5f5f5;
  }
  .searchBar {
    border: none;
    border-radius: 20px;
    height: 38px;
    width: 124px;
    max-width: 124px;
    max-height: 38px;
    padding-left: 48px;
    padding-right: 8px;
    margin-top: -.40%;
    background: #f5f5f5;
    font-size: 16px;
    z-index: 1;
  }
  .searchMenu:hover .searchIcon,
  .searchBar:hover ~ .searchIcon {
    background: #d6d6d6;
  }

  .searchBar:hover{
    background: #d6d6d6;
  }
  .searchIcon {
    position: absolute;
    border-radius: 20px;
    padding: 6px 6px 6px 6px;
    z-index: 2;
    background: #f5f5f5;
    cursor: pointer;
  }
  .searchIcon:hover {
    background: #d6d6d6;
  }
  .twoIcons {
    display: flex;
    justify-content: space-between;
    width: 300px;
    gap: 5%
  }
  
  .heart {
    background: #ffffff;
    border-radius: 20px;
    padding: 6px 6px 6px 6px;
    cursor: pointer;
  }
  .heart:hover {
    background: #d6d6d6;
  }
  .cart {
    background: #ffffff;
    border-radius: 20px;
    padding: 6px 6px 6px 6px;
    cursor: pointer;
  }
  .cart:hover {
    background: #d6d6d6;
  }

  .dropdownHeader2 {
    position: fixed;
    background-color: white;
    display: flex;
    left: 0;
    right: 0;
    margin-top: 4px;
    height: auto;
    box-sizing: border-box;
    padding-bottom: 50px;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    font-family: inherit;
    cursor: auto;
    justify-content: center;
    overflow: hidden;
    animation: fade-out 0.5s;
  }

  .dropdownSection {
    padding-left: 75px;
  }

  .dropdownHeader2.show {
    animation: fade-in .5s;
    opacity: 1;
    pointer-events: auto;
  }
  @keyframes fade-in {
    from {opacity: 0; }
    tp { opacity: 1; }
  }
  @keyframes fade-out {
    from {opacity: 1; }
    tp { opacity: 0; }
  }

  .dropdownSectionHeader {
    font-size: 17px;
    padding-top: 10px;
    color: #363636;
    cursor: pointer;
    height: 45px;
  }
  .dropdownSectionBody {
    font-size: 15px;
    color: #8e8d8d;
    cursor: pointer;
    height: 25px;
  }
  .dropdownSectionBody:hover {
    color: #363636;
  }
 .searchMorph {
  
 }