.HeaderLine3 {
    display: flex;
    padding: 0 38px 0 36px;
    box-shadow: rgb(229, 229, 229) 0px -1px 0px 0px inset;
    background: rgb(247, 247, 247);
    min-height: 60px;
    justify-content: center;
  }
  .centerBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -20%;
  }
  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .slide-text1 {
    display: flex;
    position: absolute;
    width: 700px;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    margin-left: 0%;
    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  .slide-text1.show {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }
  .slide-text1.hide {
    pointer-events: none;
  }
  .slide-text2 {
    display: flex;
    position: absolute;
    width: 700px;
    justify-content: space-between;
    gap: 10%;
    align-items: center;
    margin-left: 0%;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  .slide-text2.hide {
    pointer-events: none;
    height: 60px;
  }
  .slide-text2.show {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    height: 60px;
  }
  .slide-text3 {
    display: flex;
    position: absolute;
    width: 700px;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    margin-left: 0%;
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  .slide-text3.show {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }
  .slide-text3.hide {
    pointer-events: none;
  }
  .arrow {
    position: absolute;
    margin-top: .2%;
    border: none;
    background-color: inherit;
    margin-left: -8%;
    opacity: .5;
    cursor: pointer;

  }
  .arrow2 {
    position: absolute;
    margin-top: .2%;
    border: none;
    background-color: inherit;
    margin-left: 30%;
    opacity: .5;
    cursor: pointer;
  }
  .text {
    padding-left: 8%;
    font-size: 16px;
    color:black;
    width: 300px;
  }
  .link {
    padding-left: 8%;
    font-size: 12px;
    color:black;
    width: 200px;
  }