.informationBlock {
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.IB {
    height:60px;
    
}
.IB1Line1 {
    height: 30px;
    margin-bottom: -5px

}
.IB1Line2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}
.IB1Line2Location {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: .4em;    
}
.IB1Line2Location:hover {
    text-decoration-thickness: 1.3px;
}
.IB2 {
    padding-top: 10px;
}
.IB2Line2 {
    margin-top: -5px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: .4em;
    width: 88px;
    cursor: pointer;
}
.IB2Line2:Hover {
    text-decoration-thickness: 1.3px;
}
.IB2Line3 {
    opacity: .6;
    font-size: 14px;
    margin-top: 20px;
}
.IB3 {
    margin-top: 50px;
    height: 100px;
    line-height: 28px;
    width: 380px
}
.IB4 {
    margin-top: 95px;
    line-height: 28px;
    list-style: none;
}
li:before {
    content: "\2022"; /* unicode character for bullet point */
  font-size: 1.2em; /* adjust the font size as needed */
  margin-right: 0.5em;
}
.IB5 {
    margin-top: 30px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: .3em;
    cursor: pointer;
}
.IB5:hover {
    opacity: .65;
}