.main-body-container {
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

.main-body {
    display: flex;
    height: auto;
    border: 1px solid green;
    width: 1200px;
}

.main-body-left {
    width: 744px;
    border: 1px solid blue;
    height: 100%;
}

.main-body-right {
    height: 100%;
    width: 456px;
    border: 1px solid purple
}

.hero-container {
    /* width: calc(100% - 456px); */
    height: 669px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-content: flex-start;
    /* position: sticky; */
    top: 40px;
    padding-left: 48px;
    margin: 48px 8px 0px 8px;
}

.thumbnail-container {
    display: flex;
    position: relative;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    gap: 8px;
    min-width: 60px;
    max-width: 60px;
    height: 100%;
    overflow-y: scroll; 
}

.thumbnail-container::-webkit-scrollbar {
    display: none;
}

.hero-image-container {
    width: 535px;
    height: 668.75px;
}

#hero-img {
    border-radius: 5px;
    width: 535px;
    height: 668.75px
}

.thumbnail {
    border-radius: 5px;
    transition: 0.1s ease-in-out;
}

.thumbnail:hover {
    scale: 1.2 1.2 1;
}