img {
  /* image-resolution: auto; */
  /* image-rendering: crisp-edges; */
}

fieldset {
  border: none;
}

.main-body-container {
  display: flex;
  justify-content: center;
}

.main-body {
  display: flex;
  height: auto;

  width: 1200px;
}

.main-body-left {
  width: 744px;

  height: 100%;
}

.main-body-right {
  height: 100%;
  width: 456px;
}

.hero-container {
  /* width: calc(100% - 456px); */
  height: 669px;
  display: flex;
  flex-direction: row;
  /* gap: 16px; */
  align-content: flex-start;
  position: sticky;
  top: 40px;
  padding-left: 48px;
  margin: 48px 8px 0px 8px;
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  margin-top: -16px;
  overflow-y: scroll;
  height: fit-content;
  /* border: 1px solid red; */
}

.thumbnail-container::-webkit-scrollbar {
  display: none;
}

.hero-image-container {
  width: 535px;
  height: 668.75px;
}

#hero-img {
  border-radius: 5px;
  width: 535px;
  height: 668.75px;
}

.thumbnail {
  border-radius: 5px;
  height: 60px;
  width: 60px;
  object-fit: cover;
  transition: all 0.1s ease-in-out;
}

.thumbnail:hover,
.thumbnail:active {
  z-index: 50;
  scale: 1.2 1.2 1;
  filter: brightness(0.8);
  /* transition: 50ms; */
}

#right-body-container {
  margin: 48px 8px 0 0;
  padding: 4px 48px 0 24px;
  width: 376px;
}

.members {
  color: rgb(153, 46, 0);
  margin-top: 20px;
}

.color-options-block {
  margin: 30px 0 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  width: 380px;
}

.pic-container {
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  object-fit: cover;
  border: 1px solid transparent;
}

.pic-container:hover,
.pic-container:focus {
  border: 1px solid black;
}

.arrowContainer {
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
  margin-left: 430px;
  margin-top: -60px;
}
.icon1 {
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background: white;
  height: 24px;
  width: 24px;
  padding: 6px 6px 6px 6px;
  cursor: pointer;
}
.HR {
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: white;
  width: 140px;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
  pointer-events: none;
}
.HRstar {
  margin-left: 15px;
}
.HRText {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 490;
  padding-left: 10px;
}
.size-guide-text {
  float: right;
}

.select-size-text {
  float: left;
}
.shoe-size-container {
  padding-top: 20px;
  font-size: 17px;
}
.shoe-size-boxes-container {
  margin-top: 30px;
  margin-left: 0px;
  display: grid;
  grid-template-columns: repeat(1, 1, 1fr);
  grid-gap: 7px;
  width: 430px;
}

.shoe-size-boxes {
  margin: 0;
  padding: 0;
  list-style-type: none;
  
}

.shoe-size-select {
  font-size: 17px;
  border-radius: 10px;
  width: 210px;
  height: 50px;
  background-color: white;
  /* opacity: 20%;
    background-color:gray; */
  text-align: center;
  border-width: 1px;
  border-color: rgba(190, 190, 190, 0.361);
  margin-top: 5px;
  margin-right: 5px;
}
.shoe-size-select:hover,
.shoe-size-select:focus {
  border-color: black;
  border-width: 1.5px;
  font-weight: bold;
}

.shoe-size-select span {
  font-weight: normal;
}

.interest {
  text-align: center;
  margin-top: 30px;
  font-family: Helvetica, sans-serif;
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
}

.interest-payments {
  margin-bottom: 0.005em;
  font-family: Helvetica, sans-serif;
}

@font-face {
  font-family: 'Klarna Headline';
  font-display: swap;
  font-weight: 700;
  src: url('https://x.klarnacdn.net/ui/fonts/v1.3/KlarnaHeadline-Bold.woff2') format('woff2'),
    url('https://x.klarnacdn.net/ui/fonts/v1.3/KlarnaHeadline-Bold.woff') format('woff');
}

.klarna {
  font-family: 'Klarna Headline';
  font-weight: bold;
  letter-spacing: -0.5px;
  font-size: 16px;
  color: #17120f;
}

.add-to-cart-btn {
  margin-left: 25px;
  margin-top: 20px;
  width: 100%;
  min-height: 60px;
  padding: 18px 24px;
  border-radius: 30px;
  border: 1.5px solid transparent;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background: black;
  color: white;
  white-space: nowrap;
  text-align: center;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.favorite-btn {
  margin-top: 20px;
  width: 100%;
  min-height: 60px;
  margin-left: 25px;
  padding: 18px 24px;
  border-radius: 30px;
  border: 1.5px solid black;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background: white;
  color: black;
  white-space: nowrap;
  text-align: center;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
.learn-more {
  text-decoration: underline;
  white-space: nowrap;
  background: none;
  border: none;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  color: #111111;
  font-size: 16px;
  font-weight: 510;
  letter-spacing: 0.3px;
}
