.suggested-content {
  /* position: absolute; */
  /* border: 1px solid rgb(166, 255, 0); */
  padding-top: 60px;
  padding-bottom: 60px;
  overflow-x: hidden;
  margin: 0 9.7vw;
}
.suggested-content > div {
  /* border: 1px solid red; */
}
#slides-menu {
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* padding-left: 48px;
  padding-right: 48px; */
  /* border: 1px solid rgb(255, 136, 0); */
}

#card-slider {
  --height: 740px;
  /* z-index: 5; */
  display: flex;
  flex-direction: row;
  gap: 12px;
  /* border: 1px solid rgb(0, 110, 255); */
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  /* padding-left: 48px; */

  /* scroll-snap-align: 50px; */
}

.suggested-card {
  /* border: 1px solid red; */
  /* width: var(--height);
  height: var(--height); */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  scroll-snap-align: center;
}

#suggested-card-image {
  display: block;
  height: 26.04vw;
  width: 26.04vw;
  /* width: 334.18px; */
  object-fit: cover;
  margin-bottom: 10px;
}

.mid-weight-text {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  text-transform: none;
  color: rgb(17, 17, 17);
  font-weight: 500;
}

.mid-weight-gray {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  text-transform: none;
  color: rgb(117, 117, 117);
}

.slider-title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
  text-transform: none;
}
