body {
  background-color: #ffffff;
}
#Header1 {
  display: flex;
  max-height: 60px;
  max-width: 1920px;
  flex-wrap: wrap;
}
#header1menu {
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  margin-top: -8px;
}
.menuoption {
  display: flex;
  flex-wrap: wrap;
  height: 24px;
  font-size: 13px;
}
.spacer {
  padding-left: 10px;
  padding-right: 10px;
  height: 12px;
  font-size: 11px;
  margin-top: .5px;
}